{{ form_start(genusForm) }}
                    {{ form_row(genusForm.name) }}
                    {{ form_row(genusForm.subFamily) }}
                    {{ form_row(genusForm.speciesCount) }}
                    {{ form_row(genusForm.funFact) }}
                    {{ form_row(genusForm.isPublished) }}
                    {{ form_row(genusForm.firstDiscoveredAt) }}
<button type="submit" class="btn btn-primary" formnovalidate>{{ buttonText }}</button>
{{ form_end(genusForm) }}